node_modules
.scaffold
.x/
.scaffold-node_modules
.tools/mise/mise.exe
.DS_Store
dist
dist-ssr
*.local
.env
*.jks
*.keystore
*.p12
*.mobileprovision
*.ipa
*.xcarchive
android/keystore.properties
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
